<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Customer Manager</title>
</head>
<body>
<div align="center">
  <h1>Customer List</h1>
  <br/><br/>
  <table border="1" cellpadding="10">
    <thead>
    <tr>
      <!--
      You are creating a table here, where the header will be the Customer
      details and then the other rows will be filled by the data that
      you send back in the Model object.
      -->
      <th>Customer ID</th>
      <th>Full Name</th>
      <th>Email Address</th>
      <th>Age</th>
      <th>Address</th>
      <th>Book</th>
      <th>Actions</th>
    </tr>
    </thead>
    <!--
     Now that your headers are defined, you can reference the key-value
     pair "customerList" that you added to the model above.
     Thymeleaf will loop over each customer and extract the attributes to match
     your column names.
    -->
    <tbody>
    <tr th:each="customer : ${customerList}">
      <td th:text="${customer.id}">Customer ID</td>
      <td th:text="${customer.fullName}">Full Name</td>
      <td th:text="${customer.emailAddress}">Email Address</td>
      <td th:text="${customer.age}">Age</td>
      <td th:text="${customer.address}">Address</td>
      <td th:text="${customer.book}">Book</td>
      <td>
        <a th:href="@{'/edit/' + ${customer.id}}">Edit</a>
        <a th:href="@{'/delete/' + ${customer.id}}">Delete</a>
        <a th:text="${(customer.book == null) ? 'Assign Book' : ''}"
           th:href="@{'/book/assign/' + ${customer.id}}"></a>
        <a th:text="${(customer.book != null) ? 'Remove Book' : ''}"
           th:href="${(customer.book != null) ? '/book/remove/' + customer.book.getId() : ''}"></a>
      </td>

    </tr>
    </tbody>
  </table>
  <a th:href="@{/new}">Add New Customer</a>
  <a th:href="@{/book}">View Books</a>

</div>
</body>
</html>